.blog{
    margin: 30px;
    padding: 20px;
    background-color: aqua;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}