.cart{
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}
.summary-title{
    text-align: center;
}

.cart p{
    font-size: 17px;
}

.grand-total{
    font-size: 21px;
}